
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fff;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  margin-top: 16px;
  margin-bottom: 38px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background-color: #13183f;
}

button {
  border-radius: 28px;
  font-size: 16px;
  line-height: 28px;
  color: white;
  padding: 9px 24px;
  border: none;
  cursor: pointer;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50.4px;
  color: #13183f;
  margin-bottom: 26px;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
  margin-bottom: 16px;
}

.hero button {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.projects {
  margin-bottom: 80px;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 56px;
}

.hero-info {
  max-width: 500px;
}

.projects-item:first-child {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  ;
  padding: 24px 30px;
}
.icon {
  margin-bottom: 24px;
}
.link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
}

footer {
  background-color: #13183f;
}

.footer-container {
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer button {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1080px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}